body {
	background: #CCC;
	font: normal bold 16px/16px helvetica,arial,sans-serif;
}

div#demo {
	width: 600px;
	height: 100%;
	margin: 0 auto;
	background-color: #FFF;
}

li.item {
	float: left;
	width: 90px;
	height: 90px;
	margin: 4px;
	border: 1px solid #333;
}

li.item p {
	position: relative;
	top: -88px;
	left: 2px;
	color: #F00;
}
